<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
    <form class="" action="/edit/{{id}}" method="post">
      <input type="text" name="task" value="{{}}" placeholder="Enter Your Task Here" autofocus>
      <button type="submit" name="add">Add Todo</button>
    </form>
  </body>
</html>
