<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo - Node</title>
    <link rel="stylesheet" href="./public/style.css">
    <style type="text/css">
      li {
        /*color: blue;*/
        list-style: none;
        margin: 5px;
      }
      button {
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Todo List</h2>
      <form class="" action="/" method="post">
        <input type="text" name="task" value="" placeholder="Enter Your Task Here" autofocus>
        <button type="submit" name="add">Add Todo</button>
      </form>
      <ul class="todo-list">
        {{#todos}}
            {{^isComplete}}
            <form class="" action="/complete/{{id}}" method="post">
              <li>
              <button type="submit" name="marked" value="{{id}}">Mark as Complete</button>
              <a href="/edit/{{id}}"><button type="button" name="button">Edit</button></a>
              {{task}}
              </li>
            </form>
            {{/isComplete}}
        {{/todos}}
      </ul>
      <!-- Populate completed task when their button is clicked -->
      <h2>Completed Tasks</h2>
      <ul class="completed-list">
        {{#todos}}
            {{#isComplete}}
              <li>
                <a href="/delete/{{id}}"><button type="button" name="button">Delete</button></a>
              {{task}}
              </li>
            {{/isComplete}}
        {{/todos}}
      </ul>
    </div>
  </body>
</html>
